* {
  border: 0;
  margin: 0;
  user-select: none;
}

html:root {
  font-size: 16px;
}

#draw {
  position: relative;
  font-size: .625rem;
  width: 7rem;
  height: 25rem;
}

#tools {
  text-align: center;
  position: absolute;
  width: 6.25rem;
  height: 100%;
}

#header {
  background-color: rgb(55, 205, 224);
  height: 52%;
}

#footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  top: 15.625rem;
  width: 6.25rem;
  height: 35%;
  background-color: rgb(184, 72, 20);
}

.btn {
  margin: .3rem;
  box-shadow: 0 0 3px 1px inset;
  cursor: pointer;
}

#canvas {
  position: relative;
  margin-left: 6.25rem;
  /* box-shadow: 0 0 5px 5px inset; */

}

input {
  margin: .3125rem;
}

.colors {
  width: 40%;
  height: 1.25rem;
}

.ranges {
  width: 90%;
}

.selected {
  background-color: rgb(166, 255, 0);
}

#clear:active,
#back:active,
#restore:active {
  background-color: rgb(166, 255, 0);
}

#save {
  box-shadow: 0 0 3px 1px inset;
  cursor: pointer;
}

.context {
  display: flex;
}

table {
  display: inline-block;
  width: 1000px;
  border-collapse: collapse;
  margin-left: 20px;
}

tr {
  display: flex;
}

th,
td {
  display: inline-block;
  width: 80px;
  height: 50px;
  display: flex;
  font-size: 18px;
}

#btn {
  height: 30px;
}